.section_pictur img {
    width: 100%;
}

body {
    display: block;
    position: absolute;
    top: -0.6vw;
    z-index: 1;
    width: 100%;
}

div {
    display: block;
}

* {
    box-sizing: border-box;
}

h3,
h4 {
    font-family: 'Abril Fatface', cursive;
    font-family: 'Roboto', sans-serif;
    color: #093A82;
    font-size: 1.4em;
    letter-spacing: 1px;
}

h2 {
    font-family: helvetica neue;
    color: #FAC177;
    padding: 0;
    margin: 20px;
    font-size: 2em;
}

h1 {
    font-family: 'Abril Fatface', cursive;
    font-family: 'Roboto', sans-serif;
    color: #FAC177;
    font-size: 4em;
    letter-spacing: 1px;
}

p {
    font-family: helvetica neue;
    color: #FAC177;
    font-size: 1em;
    line-height: 1.7;
}

.menu {
    height: 105px;
    width: 100vw;
    background-color: white;
    position: relative;
    z-index: 2;
}

.logo_stor {
    display: none;
}

.logo_lille {
    height: 30vw;
    margin-left: 3vw;
    margin-top: 5vw;
    background-color: white;
    border-radius: 250px;
    position: absolute;
}

.hidden {
    display: none;
}

#menuknap {
    font-family: sans-serif;
    font-size: 3em;
    text-align: end;
    padding-right: 20px;
}

a {
    text-decoration: none;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

.hero {
    scroll-snap-align: start;
}

::-webkit-scrollbar {
    display: none;
}

.col2 {
    position: relative;
    flex-direction: column;
    align-items: center;
    padding-left: 14px;
    padding-bottom: 10px;
    width: 50%;
    left: 47%;
    background-color: white;
}

/******* SPLASH - AOT *******/

.splash {
    display: flex;
    flex-direction: row;
}

.top_splash {
    background-color: #B0D9CD;
    position: relative;
    padding: 20px 20px 130px 20px;
    text-align: center;
}

.top_splash img {
    position: relative;
    left: 0;
    margin: 0 auto;
    padding: 0;
    top: 0;
    display: block;
    height: 200px;
}

.top_splash h1 {
    position: absolute;
    width: 100%;
    font-size: 5em;
    top: 25%;
    left: 0;
    bottom: auto;
    margin: 0;
    color: #093A82;
    font-family: 'Roboto', sans-serif;
}


.bottom_splash {
    background-color: #093A82;
    padding: 30px 20px 50px 20px;
    text-align: center;

}

.bottomtxt {
    padding-left: 20px;
}

.bottom_splash h2 {
    margin: 0;
    padding: 0;
    color: white;

}

.bottom_splash .bot1 {}

.bottom_splash .bot2 {}

.shadow {
    filter: drop-shadow(0px 0px 5px black);
}

.fade_in {
    animation-name: fade_in_kf;
    animation-iteration-count: 1;
    animation-duration: 3s;
}

@keyframes fade_in_kf {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.shake {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    0% {
        opacity: 0;
    }

    10% {
        transform: translate3d(-1px, 10vw, 0);


    }

    20% {
        transform: translate3d(2px, 8vw, 0);
    }

    30% {
        transform: translate3d(-4px, 7vw, 0);
    }

    40% {
        transform: translate3d(4px, 6vw, 0);
    }

    50% {
        transform: translate3d(-4px, 5vw, 0);
    }

    60% {
        transform: translate3d(4px, 4vw, 0);
    }

    70% {
        transform: translate3d(-4px, 3vw, 0);
    }

    80% {
        transform: translate3d(2px, 2vw, 0);
    }

    90% {
        transform: translate3d(-1px, 1vw, 0);
    }

    100% {
        opacity: 1;
    }
}

/******* ******* **********/

.container {
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.container_left {
    width: 50vw;
    height: 50vw;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.container_right {
    width: 50vw;
    height: 50vw;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;

}

.scroll_snap_type_y_mandatory {
    scroll-snap-type: y mandatory;
}

section {
    scroll-snap-align: start;

}

.section_text {
    width: 100%;
    height: 50vw;
    display: flex;
    justify-content: center;
    background-color: #093A82;
    scroll-snap-align: start;
}

.section_pictur {
    width: 100%;
    height: 50vw;
    position: relative;
    align-items: center;
    background-color: #BEE0D9;
    scroll-snap-align: start;

}


/******* ******* tekst indhold bokse **********/

.tuborg_indhold {
    width: 100%;
    height: 30vw;
    background-color: white;
    display: flex;
    flex-flow: row wrap;
}

.col_indhold {
    top: 15px;
    left: 15vw;
    text-align: center;
    padding: 10vw;
    display: flex;
    z-index: 2;

}

.col_indhold a {
    letter-spacing: 2.5px;
    max-width: 310px;
    height: auto;
    padding: 20px;
    font-size: 16px;
    line-height: 30px;
    display: inline-block;
    border: 2px solid #FAC177;
    border-radius: 3px;
    margin: 2vw;
    background-color: white;
}

.col_indhold span {
    border-color: white;
    color: #FAC177;

}

.col_indhold span:hover {
    color: white;
    background: #FAC177;
}

.col_indhold a:hover {
    background-color: #FAC177;
    color: white;

}



.col p {
    color: black;
    letter-spacing: 1px;
    line-height: 1.7;
    margin-bottom: 1rem;
    font-weight: 330;

}

.col {
    left: 30vw;
    text-align: left;
    padding: 10vw;
    padding-top: 5vw;
    position: absolute;
    display: flex;
}

/******* *******  **********/


/******* *******  video **********/

.tuborg_animation {
    width: 100%;
    height: auto;
}

/******* *******  **********/


/******* ******* footer **********/

.footer_main {
    background-color: #093A82;
    padding: 70px 20px;
}

.footer_main a {
    color: #fff;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 28px;
    margin: 0 35px;
    transition: all ease-in-out 0.3s;
}

.footer ul {
    margin: 0;
    list-style: none;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
}

.footer_bottom {
    background-color: #D8D9D5;
    background-color: #9C9E9F;
    font-size: 14px;
    padding: 90px 0 30px 0;
    font-weight: 400;
    text-align: center;
}

.footer_bottom img {
    margin-bottom: 65px;
    width: 100%;
    max-width: 346px;
}

.footer_bottom a {
    color: #fff;
}

a {
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
}

li {
    font-size: inherit;
}

ul {
    line-height: 1.7;
}


/******* ******* **********/



@media only screen and (max-width: 677px) {

    #mobile {
        display: block;
        height: 100%;
    }

    .footer_main {
        background-color: #093A82;
        padding: 70px 20px;
        margin-top: 5px;
    }

    .footer ul {
        margin-right: 50px;
        list-style: none;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .tuborg_indhold {
        width: 100%;
        height: 90vw;
        flex-direction: column;
    }

    .col_indhold {
        height: 35vw;
    }


    .mobile_middel {
        width: 100vw;
        scroll-snap-type: y mandatory;
    }

    .col {
        left: 0vw;
        top: 155vw;
    }


    #desktop {
        display: none;
    }

    .wrapper {
        width: 90vw;
    }

    .button {
        margin-top: 7vw;
        width: 90vw;
        height: auto;
        position: relative;
        cursor: pointer;
        border: solid #093A82 3px;
        background-color: #FAC177;
        text-align: center;
        border-radius: 25px;
    }

    .button h2 {
        font-size: auto;
    }

    .section_text {
        height: auto;
        padding-bottom: 10vw;

    }

    .section_pictur {
        height: auto;
        padding-bottom: 10vw;

    }

    #video_forside {
        display: none;
    }

}


@media only screen and (max-width: 768px) {

    .logo_lille {
        height: 20vw;
    }

    #desktop {
        display: none;
    }

    #mobile {
        display: block;
    }

    .mobile_middel {
        width: 100vw;
        scroll-snap-type: y mandatory;
    }


    #desktop {
        display: none;
    }

    .wrapper {
        width: 90vw;
    }

    .button {
        margin-top: 7vw;
        width: 90vw;
        height: auto;
        position: relative;
        cursor: pointer;
        border: solid #093A82 3px;
        background-color: #093A82;
        text-align: center;
        border-radius: 25px;
    }

    .button h2 {
        font-size: auto;
    }

    .section_text {
        height: auto;
        padding-bottom: 10vw;

    }

}

@media only screen and (min-width: 411px) {
    .top_splash img {
        height: 300px;
        top: 40px;
    }

    .top_splash {

        padding: 50px 20px 80px 20px;
    }
}

@media only screen and (min-width: 760px) {
    .top_splash img {
        position: absolute;
        height: 550px;
        top: 40px;
        right: 67%;
    }

    .top_splash {

        padding: 150px 20px 100px 20px;
    }

    .top_splash h1 {
        position: relative;
        font-size: 8em;
        margin: 0;
        font-family: 'Roboto', sans-serif;
        left: 10%;
    }

    .bottom_splash h2 {
        font-size: 3em;
    }
}

@media only screen and (min-width: 1000px) {

    #desktop {
        height: 50vw;
        margin-bottom: 5px;
    }

    h2 {
        font-size: 3em;
    }

    h3 {
        font-size: 1.4em;

    }

    h1 {
        font-size: 4em;

    }

    p {
        font-size: 1.2em;
    }

    .menu {
        display: flex;
        justify-content: space-between;
    }

    .logo_lille {
        display: none;
    }

    .logo_stor {
        display: block;
        position: absolute;
        background-color: white;
        border-radius: 250px;
        height: 12vw;
        margin-left: 3vw;
        margin-top: 1vw;

    }

    .col2 {
        display: flex;
        align-items: center;
        align-self: center;
        flex-direction: row;
        width: 70vw;
        left: 0;
    }

    a {
        margin-right: 10vw;
    }

    #menuknap {
        display: none;
    }

    .container {
        display: flex;
        flex-direction: row;
    }

    #mobile {
        display: none;
    }

    .wrapper {
        width: 45vw;
    }

    .button {
        width: 45vw;
        height: 7vw;
        margin-top: 5vw;
        position: relative;
        cursor: pointer;
        border: solid #093A82 3px;
        background-color: #093A82;
        text-align: center;
        border-radius: 25px;
    }

    /***** SPLASH MQ *****/
    .top_splash {
        position: relative;
        padding: 150px 20px 100px 20px;
        text-align: center;
    }

    .top_splash img {
        position: absolute;
        height: 550px;
        top: 40px;
        right: 67%;
    }

    .top_splash h1 {
        position: relative;
        font-size: 10em;
        margin: 0;
        font-family: 'Roboto', sans-serif;
        left: 10%;
    }


    .bottom_splash {
        padding: 30px 20px 50px 20px;
        text-align: center;

    }

    .bottomtxt {
        padding-left: ;
    }

    .bottom_splash h2 {
        margin: 0;
        padding: 0;
        font-size: 4em;

    }

    .bottom_splash .bot1 {
        right: 50%;
    }

    .bottom_splash .bot2 {
        padding-left: 400px;
    }

    #video_forside {
        width: 50%;
        position: relative;
        left: 25%;
    }

    /***__video mq___***/
    #video {
        padding 10rem;
        margin: 10rem 20rem;
        ;
    }

}
